In [2]:
#Strings:
#length():

name= "May the Force be with you"
A=len(name)
print(A)

25

In [5]:
#Lower case() and Upper case ():

a= "May the Force be with you"
b=a.upper()
print(b)

c=a.lower()
print(c)

MAY THE FORCE BE WITH YOU
may the force be with you

In [14]:
#strip(): removes white spaces from starting and ending

star_wars = "       May the Force be with you     "
A=star_wars.strip()

print(star_wars)
A

       May the Force be with you

'May the Force be with you'

In [17]:
#Replace():

computer="mac is good"
A=computer.replace("mac","windows") #(old values, new value)

print(computer)

A

mac is good

'windows is good'

In [20]:
#splits(): splits where there is space in strings

star_wars = "May the Force be with you"
A= star_wars.split()
A

['May', 'the', 'Force', 'be', 'with', 'you']

In [28]:
#joins(): input is list and output is string

A= ['May', 'the', 'Force', 'be', 'with', 'you']
B=' '.join(A)


B

'May the Force be with you'

In [36]:
#capitalize():	Converts the first character to upper case

name = "my name is ravi"

x = name.capitalize()

print (x)

My name is ravi

In [39]:
#casefold():	Converts string into lower case

a= "My name is ravi"
b=a.casefold()
b

'my name is ravi'

In [40]:
#center():	Returns a centered string

name= "ravi"
A=name.center(10)
A

'   ravi   '

In [42]:
#count():	Returns the number of times a specified value occurs in a string

A= "my name is ravi. ravi is a good boy"
b=A.count("ravi")
b

2

In [44]:
#encode():	Returns an encoded version of the string

name= "my name is ravi"
A=name.encode()


A

b'my name is ravi'

In [46]:
#endswith():	Returns true if the string ends with the specified value

name= "my name is ravi."
B=name.endswith(".")

B

True

In [56]:
#expandtabs():	Sets the tab size of the string
name= "my\tname\tis\travi."
A=name.expandtabs(10)
A

'my        name      is        ravi.'

In [57]:
#find():	Searches the string for a specified value and returns the position of where it was found

a= "hello, my name is ravi"
b=a.find("is")
b

15

In [60]:
#format():	Formats specified values in a string

a= "hello, my age is {b}"
B=a.format(b=20)
B

'hello, my age is 20'

In [61]:
#index():	Searches the string for a specified value and returns the position of where it was found

name= "my name is ravi"
a=name.index("is")
a

8

In [66]:
#isalnum():	Returns True if all characters in the string are alphanumeric

age= " my age is 20"
a=age.isalnum()
a

False

In [69]:
#isalpha():	Returns True if all characters in the string are in the alphabet

name= "my name is ravi"
a=name.isalpha()
a

False

In [71]:
#isascii():	Returns True if all characters in the string are ascii characters

user_name="ravi19"
a=user_name.isascii()
a

True

In [72]:
#isdecimal():	Returns True if all characters in the string are decimals

username="ravi19"
a=username.isdecimal()
a

False

In [73]:
#isdigit():	Returns True if all characters in the string are digits

phone_num="123456"
a=phone_num.isdigit()
a

True

In [76]:
#isidentifier():	Returns True if the string is an identifier

number="two"
a=number.isidentifier()
a

True

In [77]:
#islower():	Returns True if all characters in the string are lower case

name="my name is ravi"
a=name.islower()
a

True

In [78]:
#isnumeric():	Returns True if all characters in the string are numeric

phone_num="123456"
a=phone_num.isnumeric()

True

In [80]:
#isprintable():	Returns True if all characters in the string are printable
a="hello, my name is ravi"
b=a.isprintable()
b

True

In [84]:
#isspace():	Returns True if all characters in the string are whitespaces

a="   "
b=a.isspace()
b

True

In [86]:
#istitle():	Returns True if the string follows the rules of a title

a="Hello, My name Is Ravi"
b=a.istitle()
b

False

In [88]:
#isupper():	Returns True if all characters in the string are upper case

a="Hello, My name Is Ravi"
b=a.isupper()
b

False

In [96]:
#maketrans():	Returns a translation table to be used in translations

a="Hello, My name Is Ravi"
b=str.maketrans("R","S")
print(a.translate(b))

Hello, My name Is Savi

In [1]:
#partition():	Returns a tuple where the string is parted into three parts

a= " my name is ravi"
b= a.partition("name")
b

(' my ', 'name', ' is ravi')