In [1]:
#creating a tuple
empty_tuple=()

name=("ravi", "raju", "rakesh","raghu")
print(type(name))
print(name)

<class 'tuple'>
('ravi', 'raju', 'rakesh', 'raghu')

In [2]:
#Accessing of tuples:

name=("ravi", "raju", "rakesh","raghu")
print(name[2])
print(name[1:3])

rakesh
('raju', 'rakesh')

In [3]:
#tuple is immutable data type:

name=("ravi", "raju", "rakesh","raghu")
name [2]="ball"
print(name)

TypeError: 'tuple' object does not support item assignment

In [14]:
#Tuple operations:
# Concatenation:
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')

result = tuple1 + tuple2

print(result)

(1, 2, 3, 'a', 'b', 'c')

In [24]:
#repetation:
a=("hello, world! \n")
b= a*10
print(b)

hello, world!
hello, world!
hello, world!
hello, world!
hello, world!
hello, world!
hello, world!
hello, world!
hello, world!
hello, world!

In [25]:
#Tuple methods:
#count():
numbers=(1,2,2,3,4,2,7,8,2,9,2)
a=numbers.count(2)
a

5

In [26]:
#index():

numbers=(1,2,12,3,412,17,58,32,9,12)
b=numbers.index(12)
b

2